body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('bckgrnd_image.jpg');
}

h1 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
